.img-wrapper{
    background-image: url(bg-star-night-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.row{
    display: flex;
    justify-content: center;
}

button{
    margin-bottom: 5rem;
}

.charactersCard {
    background-color: black;
    color: white;
    width: 17rem;
    margin: 20px;
}

.charactersCard img {
    width: 15rem;
    height: 20rem;
    padding-top: 10px;
}



